:root {
  --background-color: #f1f7f0;
  --card-third-color: #ecf3eb;
  --card-primary-color: #cddcca;
  --card-secondary-color: #8ea58c;
  --btn-primary-color: #738a6e;
  --btn-secondary-color: #344c3d;
  --section-padding: 3.3rem 0px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  color: var(--btn-secondary-color);
  min-height: 100vh;
}

.explore__header__background {
  background-image: url("../ASESETS/Images/homeless.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  position: relative;

  height: 50vh !important;
}
.About__header__lyar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.faq-section {
  padding: var(--section-padding);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  min-height: 60vh;
}

.faq-container {
    margin: auto;
  width: 90%;
  max-width: 900px;
  background: var(--card-third-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
}

/* عناوين الأسئلة */
.faq-question {
  cursor: pointer;
  padding: 1rem 0;
  font-weight: 600;
  position: relative;
  color: var(--btn-secondary-color);
  transition: color 0.3s;
}
.faq-question:hover {
  color: var(--btn-primary-color);
}

.faq-question::after {
  content: "+";
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.faq-question.active::after {
  content: "-";
  transform: translateY(-50%) rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, padding 0.35s ease;
  padding-left: 0;
  color: var(--btn-secondary-color);
}

.faq-answer.show {
  padding: 0.75rem 0;
  max-height: 500px;
}
